{% layout 'backoffice/default-layout' %}
{% block content %}
  <h1 class='pb-5 text-white fs-1'>Unresolved requests</h1>
  <div class='card bg-dark shadow-sm'>
    <table class='table table-striped mb-0'>
      <thead>
        <tr>
          <th scope='col'>User</th>
          <th scope='col'>Status</th>
          <th scope='col'>Cash</th>
          <th scope='col'>Rait</th>
          <th scope='col'>Last action</th>
        </tr>
      </thead>
      <tbody>
        <tr style='height:50px'>
          <td class='align-middle'>
            Vasia
          </td>
          <td class='align-middle'>
            Admin
          </td>
          <td class='align-middle'>
            0.53423425
          </td>
          <td class='align-middle'>
            0.02432 %
          </td>
          <td class='align-middle'>
            2 hours ago
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}